<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghui.web.mapper.EnergyMapper">

    <insert id="add">
        insert into dv_energy_consumption
        values(null,#{powerConsumption},#{waterConsumption},#{carbonEmissions},#{officePowerConsumption},
        #{officeWaterConsumption},#{producePowerConsumption},#{produceWaterConsumption},#{total})
    </insert>
</mapper>