<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghui.web.mapper.FactoryMapper">
    <insert id="add">
        insert into mes_factory(product,product_line,factory_describe)
        values
        (#{product},#{productionLine},#{factoryDescribe})
    </insert>

    <update id="edit">
        update mes_factory
        <trim prefix="set" suffixOverrides=",">
            <if test="product != null and product != ''">product = #{product},</if>
            <if test="productionLine != null and productionLine != ''">production_line = #{productionLine},</if>
            <if test="factoryDescribe != null and factoryDescribe != ''">factory_describe = #{factoryDescribe},</if>
            <if test="productMode != null and productMode != ''">product_mode = #{productMode},</if>
            <if test="specifications != null and specifications != ''">specifications = #{specifications},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from mes_factory where id = #{id}
    </delete>

    <select id="list" resultType="com.zhonghui.web.pojo.Factory">
        select *
        from mes_factory
        <where>
            <if test="productionLine != null and productionLine != ''">production_line like
                concat('%',#{productionLine},'%')
            </if>
        </where>
    </select>

    <resultMap id="FactoryAndDeviceVOMap" type="com.zhonghui.web.vo.FactoryAndDeviceVO">

    </resultMap>


    <select id="getFactoryDevicesById" resultType="com.zhonghui.web.pojo.FactoryDevice">
        select device.*
        from mes_factory factory inner join mes_factory_device_item device on factory.id = device.factory_id
        <where>
            factory.id = #{id}
        </where>
    </select>

    <select id="getFactoryById" resultType="com.zhonghui.web.pojo.Factory">
        select *
        from mes_factory
        <where>
            id = #{id}
        </where>
    </select>


</mapper>