<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghui.web.mapper.ProductMapper">
    <insert id="add">
        insert into mes_product(product_name)
        values(#{productName})
    </insert>
    <select id="list" resultType="com.zhonghui.web.vo.TechnologyAndProductVO">
        select *
        from mes_technology technology left join mes_product product on technology.product_id = product.id
        <where>
            <if test="technologyName != null and technologyName != ''">
                technology_name like concat('%', #{technologyName},'%')
            </if>
        </where>
    </select>

    <select id="getById" resultType="com.zhonghui.web.vo.TechnologyAndProductVO">
        select *
        from mes_technology technology left join mes_product product on technology.product_id = product.id
        <where>
            technology.id = #{id}
        </where>
    </select>
    <select id="getAll" resultType="com.zhonghui.web.pojo.Product">
        select *
        from mes_product product
    </select>

    <select id="getList" resultType="com.zhonghui.web.vo.ProductAndConsumptionVO">
        select *,(t2.power_consumption + t2.carbon_emissions) AS total
        from mes_product t1 left join dv_energy_consumption t2 on t1.dv_id = t2.id
        order by total desc
    </select>
</mapper>